

.container{
   max-width: 97% !important;
  }
  .center{
    text-align: center;
  }
  .login-page{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  .btn-login{
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    font-weight: 700;
  }
  
  .login-page >div:first-child{
    background-color: #0000FF;
    text-align: center;
    color: white;
    min-height: 100% ;
  }
  .login-page div{
  
   padding: 60px 10px 10px 10px;
  }
  
  .column1{
    width: 40%;
  }
  .column2{
    width: 60%;
  }
  
  .center{
    text-align: center !important;
  }
  
  .margin{
    margin:auto !important;
    padding-top: 10px !important;
    
  }
  
  nav ul{
    margin: 50px 0 0 0 ;
    padding: 0;
    height: 100%;
    max-width: 100%;
    left: 0;
  
  }
  nav ul li{
    list-style: none;
  }
  nav ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    position: relative;
    padding: 15px 0 15px 15px;
    border: 2px solid #fff;
    border-radius: 0 30px 30px 0 ;
    margin: 2px;
  }
  
  nav ul li a:hover{
    background-color: #fff;
    border-radius: 0 30px 30px 0 ;
  }
  

.image{
    width: 30%;
    border: 3px solid blue;
    border-right: none;
    border-radius: 20px 0 0 20px;
}
.image>figure>img{
    max-width: 100%;
   
}
.info{
    width: 50%;
    border: 3px solid blue;
    text-align: left !important;
    border-radius:0 20px 20px 0;
}

.home1{
  width: 25%;
  background-color:#0000FF;
}

.home2{
  width: 75%;
  padding: 30px;
}



@media only screen and (max-width: 768px) {
  .login-page >div:first-child{
    background-color: blue !important;
    max-height: 54%;
}
.column1, .column2, .home1, .home2{
  width: 100%;
}
.column2, .home2{
  min-height: 100vh;
}
.btn-login{
  width: 70%;
}
.login-page div{
  
  padding: 10px 10px 10px 10px !important;
 }
 .width{
  max-width: 95% !important;
  max-height: 95% !important;
 }
 .logo{
  display: none;
 }

}
@media only screen and (min-width: 769px) and (max-width: 991px) {

.column1, .column2{
  width: 50%;
}

.home1{
  width: 35%;
  min-height: 100% !important;
}
.home2{
  width: 65%;
}

.width{
  max-width: 95% !important;
  max-height: 95% !important;
 }
}
@media only screen and (min-width: 992px) {
    .form-padding{
      padding: 0 80px;
    }

  }